<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halfmoon.market.MainMapper">
	<select id="selMenuList" resultType="ProductTypeDomain">
		SELECT * 
		FROM t_product_type
		ORDER BY i_product_type 
	</select>



</mapper>